<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>${splunk.hec.url}</url>
        <token>${splunk.hec.token}</token>
        <source>hello-world-app-${activeProfile}</source>
        <sourcetype>spring_boot</sourcetype>
        <index>main</index>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SPLUNK" />
    </root>
</configuration>